/* CSS GENERALI INIZIO */
* {
    box-sizing: border-box;
}
.identita {
    display:block;
    list-style-type:none;
}

.nome {
    display: inline;
}

.surpress {
    height: 0%;
    width: 0%;
}

nav {
    background-color: #0d47a1;
    position:relative;
}

/* CSS GENERALI FINE */
#btnMenu {
    opacity: 0.0;
}

#sectionImgDoc, nav {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    z-index: 6;
}

#btnInfo{
    position: absolute;
    bottom: 3%;
    right: 5%;
    height: 60px ;
    width: 60px ;
    border-radius: 60px ;
    border: 0px;
    background-color: #ff4081;
    z-index: 10;
}

div.info.mostraInfo {
    position: relative;
    z-index: 7 !important;
}