section#sectionInfoDoc {
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 5;
    background-color: #bbdefb;

}
section#sectionInfoDoc, section#sectionImgDoc {
    height: 90%;
    width: 90%;
    margin-right: 0px;
}

img#imgDoc {
    height: 100%;
    width: 100%;
}

nav {
    height: 10%;
    width: 100%;
    display: block;
}

nav * {
    display: inline !important;

}

.ui-button {
    display: inline !important;
}

img#logo {
    padding-top: 0px;
    width: 197px;
    height: 62px;
}

button#btnCopyright {
    right: 1%;
}
.col-md-6 {
    padding-left: 020px;
    padding-top: 0px;
    padding-right: 20px;
}