#img {
    width: 100%;
    height: 100vh;
}

#buttonInfo{
    position: absolute;
    bottom: 3%;
    right: 5%;
    height: 60px ;
    width: 60px ;
    border-radius: 60px ;
    border: 0px;
    background-color: #ff4081;
    z-index: 10;
}

nav {
    width: 0%;
    animation-timing-function: linear;
}
section#imgDoc, nav {
    display: table-cell;
}

#btnInfoD {
    position: absolute;
    top: 2%;
    left: 16%;
    width: 48px;
    height: 48px;
}

#btnAllD{
    position: absolute;
    top: 15%;
    left: 16%;
    width: 48px;
    height: 48px;
}

#btnSearch {
    position: absolute;
    top: 28%;
    left: 16%;
    width: 48px;
    height: 48px;
}

#buttonCopy{
    position: absolute;
    bottom: 3%;
    left: 16%;
    width: 48px;
    height: 48px;
}

nav.swiperight {
    animation-name: swipeRightMenu;
    animation-duration: 0.2s;
    width: 20%;
    background-color: #2196f3;
}

nav.swipeleft {
    animation-name: swipeLeftMenu;
    animation-duration: 0.2s;
    width: 0%;
    background-color: #0d47a1;
}

nav.swiperightButton {
    animation-name: swipeRightButton;
    animation-duration: 0.2s;
    opacity: 1.0 !important;
}

nav.swipeleftButton {
    animation-name: swipeLeftButton;
    animation-duration: 0.2s;
    opacity: 0.0 !important;
}

@keyframes swipeRightMenu {
    0%   {background-color:#0d47a1; width: 0%;}

    10%   {background-color:#0d47a1; width: 2%;}
    20%  {background-color:#0d47a1; width: 4%;}

    30%  {background-color:#1565c0; width: 6%;}
    40%  {background-color:#1565c0; width: 8%;}

    50%  {background-color:#1976d2; width: 10%;}
    60%	 {background-color:#1976d2; width: 12%;}
    70%  {background-color:#1976d2; width: 14%;}

    80% {background-color:#1e88e5; width: 16%;}
    90%	 {background-color:#1e88e5; width: 18%;}

    100% {background-color:#2196f3; width: 20%;}
}

@keyframes swipeLeftMenu {
    0%   {background-color:#2196f3; width: 20%;}

    10%   {background-color:#2196f3; width: 18%;}
    20%  {background-color:#2196f3; width: 16%;}

    30%  {background-color:#1e88e5; width: 14%;}
    40%  {background-color:#1e88e5; width: 12%;}

    50%  {background-color:#1976d2; width: 10%;}
    60%	 {background-color:#1976d2; width: 8%;}
    70%  {background-color:#1976d2; width: 6%;}

    80% {background-color:#1565c0; width: 4%;}
    90%	 {background-color:#1565c0; width: 2%;}

    100% {background-color:#0d47a1; width: 0%;}
}

@keyframes swipeRightButton {
    0%   {opacity: 0.2;}
    25%  {opacity: 0.4;}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.8;}
    100% {opacity: 1.0;}
}

@keyframes swipeLeftButton {
    0%   {opacity: 0.8;}
    25%  {opacity: 0.6;}
    50%  {opacity: 0.4;}
    75%  {opacity: 0.2;}
    100% {opacity: 0.0;}
}

